.cardholder {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 16px;
}
.image {
  width: 100px;
  height: 150px;
  object-fit: contain;
  cursor: pointer;
}
.staricon {
  position: absolute;
  right: 16px;
  top: 16px;
  color: #00d1b2;
  cursor: pointer;
}

.textholder {
  text-align: left;
  margin-left: 48px;
}
