.cardholder {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 24px;
  border-radius: 10px;
  height: 100%;
}
.image {
  width: 100px;
  height: 150px;
  object-fit: contain;
  cursor: pointer;
  margin-inline: 10px;
}
.staricon {
  position: absolute;
  right: 16px;
  top: 16px;
  color: #00d1b2;
  cursor: pointer;
}

.textholder {
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 24px;
  padding: 0;
  height: 100%;
}
